<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="IsMockApiResponse" value="False" />
    <add key="Version" value="1.0.0.161" />
    <add key="EnableDebugMenu" value="True" />
    <add key="DeviceNo" value="1203-农行" />
    <add key="ServiceCall" value="0577-63666666" />
    <add key="Company" value="旭辉卓越健康信息科技有限公司" />
    <add key="Product" value="旭辉健康" />
    <add key="Title" value="智能回收终端" />
    <add key="SocketUrl" value="ws://127.0.0.1:8080/hoschange/RecyclingBin" />
    <add key="BufferSize" value="1024" />
    <add key="DeviceId" value="HSD1" />
    <add key="ServiceUrl" value="http://192.168.3.49:8069/" />
    <add key="CardQueryUrl" value="api/v1/Recovery/RecoveryQuery" />
    <add key="RecyclingBinQueryUrl" value="api/v1/Recovery/RecoveryDefalt" />
    <add key="RecyclingBinSubmitUrl" value="api/v1/Recovery/RecoveryReturn" />
    <add key="RecyclingBinCleanUrl" value="api/v1/Recovery/RecoveryEmpty" />
    <add key="SocketStatusReportUrl" value="api/v1/Socket/Socket" />
    <add key="TokenRequestUrl" value="api/v1/Token/Login"/>
    <add key="LogReportUrl" value="api/v1/Log/WriteLog" />
    <!--<add key="RecyclingBinAdminVerifyActionUrl" value="api/v1/Login/CustemLogin"/>-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>