<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <appSettings>
    <add key="IsMockApiResponse" value="False" />
    <add key="Version" value="1.0.0.161" />
    <add key="SocketUrl" value="ws://127.0.0.1:8080/hoschange/Auth" />
    <add key="ServiceUrl" value="http://192.168.3.49:8069/" />
    <add key="DeviceId" value="" />
    <add key="CardQueryUrl" value="api/v1/Auth/Verification" />
    <add key="RoleQueryUrl" value="api/v1/Auth/GetRoles" />
    <add key="UserRoleUrl" value="api/v1/Auth/BindingRole" />
    <add key="TokenRequestUrl" value="api/v1/Token/Login"/>
    <add key="SocketStatusReportUrl" value="api/v1/Socket/Socket" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>